#################### !!! attention !!! ###################
# rules editing here:                                    #
#  - one empty and one comment line per set of           #
#    constraints                                         #
#  - all constraints  for one net in one place           #
#  - all lowercase                                       #
#                                                        #
# anything wrong here will be reverted, deleted and the  #
# author banned from  developing on gitlab.              #
##########################################################
### Warning : set the bus delimiter = "[]" in the Synthesis option
### In this amc0.ucf only IO PIN

#si flags
NET "si_a_rst" LOC = AA28;
NET "si_a_rst" IOSTANDARD = LVTTL;
NET "si_a_los" LOC = AD27;
NET "si_a_los" IOSTANDARD = LVTTL;
NET "si_a_lol" LOC = AC28;
NET "si_a_lol" IOSTANDARD = LVTTL;

### adc ports amc0######################
#net "amc_port_?[*][*]" diff_term = true |iobdelay = none | IOSTANDARD = LVDS_25;
#net "port_?[*][*]" diff_term = true  |iostandard = lvds_25;
NET "amc_port_p[0][0]" LOC = C32;
NET "amc_port_n[0][0]" LOC = D32;
NET "amc_port_p[0][10]" LOC = L33;
NET "amc_port_n[0][10]" LOC = M32;
NET "amc_port_p[0][11]" LOC = N33;
NET "amc_port_n[0][11]" LOC = M33;
NET "amc_port_p[0][1]" LOC = C34;
NET "amc_port_n[0][1]" LOC = D34;
NET "amc_port_p[0][2]" LOC = E32;
NET "amc_port_n[0][2]" LOC = E33;
NET "amc_port_p[0][3]" LOC = F33;
NET "amc_port_n[0][3]" LOC = E34;
NET "amc_port_p[0][4]" LOC = G33;
NET "amc_port_n[0][4]" LOC = F34;
NET "amc_port_p[0][5]" LOC = G32;
NET "amc_port_n[0][5]" LOC = H32;
NET "amc_port_p[0][6]" LOC = J32;
NET "amc_port_n[0][6]" LOC = H33;
NET "amc_port_p[0][7]" LOC = H34;
NET "amc_port_n[0][7]" LOC = J34;
NET "amc_port_p[0][8]" LOC = K33;
NET "amc_port_n[0][8]" LOC = K32;
NET "amc_port_p[0][9]" LOC = L34;
NET "amc_port_n[0][9]" LOC = K34;
NET "amc_port_p[0][14]" LOC = L19;
NET "amc_port_n[0][14]" LOC = K19;
NET "amc_port_p[0][12]" LOC = B33;
NET "amc_port_n[0][12]" LOC = C33;
NET "amc_port_p[0][13]" LOC = B32;
NET "amc_port_n[0][13]" LOC = A33;

NET "amc_port_p[1][0]" LOC = G20;
NET "amc_port_n[1][0]" LOC = F20;
NET "amc_port_p[1][10]" LOC = D24;
NET "amc_port_n[1][10]" LOC = E23;
NET "amc_port_p[1][11]" LOC = E22;
NET "amc_port_n[1][11]" LOC = F23;
NET "amc_port_p[1][2]" LOC = F25;
NET "amc_port_n[1][2]" LOC = F26;
NET "amc_port_p[1][3]" LOC = F21;
NET "amc_port_n[1][3]" LOC = G21;
NET "amc_port_p[1][4]" LOC = D31;
NET "amc_port_n[1][4]" LOC = D30;
NET "amc_port_p[1][5]" LOC = C30;
NET "amc_port_n[1][5]" LOC = D29;
NET "amc_port_p[1][6]" LOC = B31;
NET "amc_port_n[1][6]" LOC = A31;
NET "amc_port_p[1][7]" LOC = A30;
NET "amc_port_n[1][7]" LOC = B30;
NET "amc_port_p[1][8]" LOC = C28;
NET "amc_port_n[1][8]" LOC = D27;
NET "amc_port_p[1][9]" LOC = F24;
NET "amc_port_n[1][9]" LOC = E24;
NET "amc_port_p[1][14]" LOC = J20;
NET "amc_port_n[1][14]" LOC = J21;
NET "amc_port_p[1][12]" LOC = H25;
NET "amc_port_n[1][12]" LOC = H24;
NET "amc_port_p[1][13]" LOC = J27;
NET "amc_port_n[1][13]" LOC = J26;
NET "amc_port_p[1][1]" LOC = G25;
NET "amc_port_n[1][1]" LOC = G26;



NET "amc_port_p[2][0]" LOC = R26;
NET "amc_port_n[2][0]" LOC = R27;
NET "amc_port_p[2][10]" LOC = T28;
NET "amc_port_n[2][10]" LOC = T29;
NET "amc_port_p[2][11]" LOC = U27;
NET "amc_port_n[2][11]" LOC = U28;
NET "amc_port_p[2][1]" LOC = M25;
NET "amc_port_n[2][1]" LOC = M26;
NET "amc_port_p[2][2]" LOC = U26;
NET "amc_port_n[2][2]" LOC = T26;
NET "amc_port_p[2][3]" LOC = N29;
NET "amc_port_n[2][3]" LOC = P29;
NET "amc_port_p[2][4]" LOC = L29;
NET "amc_port_n[2][4]" LOC = K29;
NET "amc_port_p[2][5]" LOC = L30;
NET "amc_port_n[2][5]" LOC = M30;
NET "amc_port_p[2][6]" LOC = K31;
NET "amc_port_n[2][6]" LOC = L31;
NET "amc_port_p[2][7]" LOC = M31;
NET "amc_port_n[2][7]" LOC = N30;
NET "amc_port_p[2][8]" LOC = P31;
NET "amc_port_n[2][8]" LOC = P30;
NET "amc_port_p[2][9]" LOC = R28;
NET "amc_port_n[2][9]" LOC = R29;
NET "amc_port_p[2][14]" LOC = K18;
NET "amc_port_n[2][14]" LOC = J19;
NET "amc_port_p[2][12]" LOC = R24;
NET "amc_port_n[2][12]" LOC = T24;
NET "amc_port_p[2][13]" LOC = U25;
NET "amc_port_n[2][13]" LOC = T25;

NET "amc_port_p[3][0]" LOC = N27;
NET "amc_port_n[3][0]" LOC = M27;
NET "amc_port_p[3][10]" LOC = P25;
NET "amc_port_n[3][10]" LOC = N25;
NET "amc_port_p[3][11]" LOC = N24;
NET "amc_port_n[3][11]" LOC = P24;
NET "amc_port_p[3][1]" LOC = K28;
NET "amc_port_n[3][1]" LOC = L28;
NET "amc_port_p[3][2]" LOC = K27;
NET "amc_port_n[3][2]" LOC = K26;
NET "amc_port_p[3][3]" LOC = G27;
NET "amc_port_n[3][3]" LOC = H27;
NET "amc_port_p[3][4]" LOC = H28;
NET "amc_port_n[3][4]" LOC = G28;
NET "amc_port_p[3][5]" LOC = E28;
NET "amc_port_n[3][5]" LOC = F28;
NET "amc_port_p[3][6]" LOC = E26;
NET "amc_port_n[3][6]" LOC = E27;
NET "amc_port_p[3][7]" LOC = L25;
NET "amc_port_n[3][7]" LOC = L26;
NET "amc_port_p[3][8]" LOC = J24;
NET "amc_port_n[3][8]" LOC = J25;
NET "amc_port_p[3][9]" LOC = K24;
NET "amc_port_n[3][9]" LOC = L24;
NET "amc_port_p[3][14]" LOC = H17;
NET "amc_port_n[3][14]" LOC = H18;
NET "amc_port_p[3][12]" LOC = M28;
NET "amc_port_n[3][12]" LOC = N28;
NET "amc_port_p[3][13]" LOC = P26;
NET "amc_port_n[3][13]" LOC = P27;

NET "amc_port_p[4][0]" LOC = AD31;
NET "amc_port_n[4][0]" LOC = AE31;
NET "amc_port_p[4][10]" LOC = AL29;
NET "amc_port_n[4][10]" LOC = AL30;
NET "amc_port_p[4][11]" LOC = AN30;
NET "amc_port_n[4][11]" LOC = AM30;
NET "amc_port_p[4][1]" LOC = AA34;
NET "amc_port_n[4][1]" LOC = Y34;
NET "amc_port_p[4][2]" LOC = Y33;
NET "amc_port_n[4][2]" LOC = AA33;
NET "amc_port_p[4][3]" LOC = Y32;
NET "amc_port_n[4][3]" LOC = W32;
NET "amc_port_p[4][4]" LOC = U30;
NET "amc_port_n[4][4]" LOC = T30;
NET "amc_port_p[4][5]" LOC = T31;
NET "amc_port_n[4][5]" LOC = R31;
NET "amc_port_p[4][6]" LOC = AH29;
NET "amc_port_n[4][6]" LOC = AG30;
NET "amc_port_p[4][7]" LOC = AJ30;
NET "amc_port_n[4][7]" LOC = AH30;
NET "amc_port_p[4][8]" LOC = AJ32;
NET "amc_port_n[4][8]" LOC = AK32;
NET "amc_port_p[4][9]" LOC = AJ31;
NET "amc_port_n[4][9]" LOC = AK31;
NET "amc_port_p[4][14]" LOC = AG21;
NET "amc_port_n[4][14]" LOC = AG20;
NET "amc_port_p[4][12]" LOC = AF29;
NET "amc_port_n[4][12]" LOC = AF30;
NET "amc_port_p[4][13]" LOC = AF31;
NET "amc_port_n[4][13]" LOC = AG31;

NET "amc_port_p[5][0]" LOC = AM33;
NET "amc_port_n[5][0]" LOC = AM32;
NET "amc_port_p[5][10]" LOC = AC32;
NET "amc_port_n[5][10]" LOC = AB32;
NET "amc_port_p[5][11]" LOC = AC33;
NET "amc_port_n[5][11]" LOC = AB33;
NET "amc_port_p[5][1]" LOC = AL34;
NET "amc_port_n[5][1]" LOC = AL33;
NET "amc_port_p[5][2]" LOC = AK34;
NET "amc_port_n[5][2]" LOC = AK33;
NET "amc_port_p[5][3]" LOC = AH34;
NET "amc_port_n[5][3]" LOC = AJ34;
NET "amc_port_p[5][4]" LOC = AG33;
NET "amc_port_n[5][4]" LOC = AH33;
NET "amc_port_p[5][5]" LOC = AG32;
NET "amc_port_n[5][5]" LOC = AH32;
NET "amc_port_p[5][6]" LOC = AF33;
NET "amc_port_n[5][6]" LOC = AE33;
NET "amc_port_p[5][7]" LOC = AF34;
NET "amc_port_n[5][7]" LOC = AE34;
NET "amc_port_p[5][8]" LOC = AD32;
NET "amc_port_n[5][8]" LOC = AE32;
NET "amc_port_p[5][9]" LOC = AC34;
NET "amc_port_n[5][9]" LOC = AD34;
NET "amc_port_p[5][14]" LOC = AG18;
NET "amc_port_n[5][14]" LOC = AF19;
NET "amc_port_p[5][12]" LOC = AN34;
NET "amc_port_n[5][12]" LOC = AN33;
NET "amc_port_p[5][13]" LOC = AN32;
NET "amc_port_n[5][13]" LOC = AP32;

NET "amc_port_p[6][0]" LOC = G30;
NET "amc_port_n[6][0]" LOC = F30;
NET "amc_port_p[6][10]" LOC = V32;
NET "amc_port_n[6][10]" LOC = V33;
NET "amc_port_p[6][11]" LOC = W34;
NET "amc_port_n[6][11]" LOC = V34;
NET "amc_port_p[6][1]" LOC = H30;
NET "amc_port_n[6][1]" LOC = G31;
NET "amc_port_p[6][2]" LOC = H29;
NET "amc_port_n[6][2]" LOC = J29;
NET "amc_port_p[6][3]" LOC = J30;
NET "amc_port_n[6][3]" LOC = J31;
NET "amc_port_p[6][4]" LOC = P32;
NET "amc_port_n[6][4]" LOC = N32;
NET "amc_port_p[6][5]" LOC = P34;
NET "amc_port_n[6][5]" LOC = N34;
NET "amc_port_p[6][6]" LOC = R33;
NET "amc_port_n[6][6]" LOC = R32;
NET "amc_port_p[6][7]" LOC = T33;
NET "amc_port_n[6][7]" LOC = R34;
NET "amc_port_p[6][8]" LOC = U33;
NET "amc_port_n[6][8]" LOC = T34;
NET "amc_port_p[6][9]" LOC = U32;
NET "amc_port_n[6][9]" LOC = U31;
NET "amc_port_p[6][14]" LOC = AH20;
NET "amc_port_n[6][14]" LOC = AH19;
NET "amc_port_p[6][12]" LOC = F31;
NET "amc_port_n[6][12]" LOC = E31;
NET "amc_port_p[6][13]" LOC = E29;
NET "amc_port_n[6][13]" LOC = F29;

NET "amc_port_p[7][0]" LOC = AB30;
NET "amc_port_n[7][0]" LOC = AC30;
NET "amc_port_p[7][10]" LOC = V25;
NET "amc_port_n[7][10]" LOC = W25;
NET "amc_port_p[7][11]" LOC = W24;
NET "amc_port_n[7][11]" LOC = V24;
NET "amc_port_p[7][1]" LOC = AB31;
NET "amc_port_n[7][1]" LOC = AA31;
NET "amc_port_p[7][2]" LOC = AA29;
NET "amc_port_n[7][2]" LOC = AA30;
NET "amc_port_p[7][3]" LOC = W31;
NET "amc_port_n[7][3]" LOC = Y31;
NET "amc_port_p[7][4]" LOC = Y28;
NET "amc_port_n[7][4]" LOC = Y29;
NET "amc_port_p[7][5]" LOC = V30;
NET "amc_port_n[7][5]" LOC = W30;
NET "amc_port_p[7][6]" LOC = W29;
NET "amc_port_n[7][6]" LOC = V29;
NET "amc_port_p[7][7]" LOC = Y27;
NET "amc_port_n[7][7]" LOC = W27;
NET "amc_port_p[7][8]" LOC = V28;
NET "amc_port_n[7][8]" LOC = V27;
NET "amc_port_p[7][9]" LOC = Y26;
NET "amc_port_n[7][9]" LOC = W26;
NET "amc_port_p[7][14]" LOC = H19;
NET "amc_port_n[7][14]" LOC = H20;
NET "amc_port_p[7][12]" LOC = AD30;
NET "amc_port_n[7][12]" LOC = AC29;
NET "amc_port_p[7][13]" LOC = AE29;
NET "amc_port_n[7][13]" LOC = AD29;

# end pin out amc0.ucf
