#################### !!! attention !!! ###################
# rules editing here:                                    #
#  - one empty and one comment line per set of           #
#    constraints                                         #
#  - all constraints  for one net in one place           #
#  - all lowercase                                       #
#                                                        #
# anything wrong here will be reverted, deleted and the  #
# author banned from  developing on gitlab.              #
##########################################################
### Warning : set the bus delimiter = "[]" in the Synthesis option

### Commentati da Alex

# ignore timing for all settings
INST "inst_mcs_amcs.inst_amc_if/src_id*" TIG;
INST "inst_mcs_amcs.inst_amc_if/latency*" TIG;
INST "inst_mcs_amcs.inst_amc_if/framewidth*" TIG;
###INST "inst_mcs_amcs.inst_amc_if/framewidth_slv*" TIG;
#inst "inst_mcs_amcs.inst_amc_if/baseline*" tig;
INST "inst_mcs_amcs.inst_amc_if/prescaler_base*" TIG;
INST "inst_mcs_amcs.inst_amc_if/delay*" TIG;
INST "inst_mcs_amcs.inst_amc_if/frac*" TIG;
INST "inst_mcs_amcs.inst_amc_if/threshold*" TIG;
# FUCK YOU, XILINX!!! build fails if t_.. is off and
# constraints are there FUCK YOU SO MUCH !!!
###INST "inst_mcs_amcs.inst_amc_if/t_threshold*" TIG;
###INST "inst_mcs_amcs.inst_amc_if/t_cf_max_dist*" TIG;
INST "inst_mcs_amcs.inst_amc_if/cf_max_dist*" TIG;
INST "inst_mcs_amcs.inst_amc_if/ev_num_err" TIG;
INST "inst_mcs_amcs.inst_amc_if/flt_err" TIG;
# ignore biterr latches timing
#inst "inst_mcs_amcs.inst_amc_if/inst_amc_ports[*].inst_mcs.adc_bits_ddrin[*].fdre_latch_edge" tig;
#TIMESPEC TS_FDRE_LATCH_EDGE = FROM "inst_mcs_amcs.inst_amc_if/inst_amc_ports[*].inst_mcs.adc_bits_ddrin[*].fdre_latch_edge" TO  FFS TIG ;

TIMESPEC TS_FDRE_LATCH_EDGE = FROM  FFS("inst_mcs_amcs.inst_amc_if/data_latch[*][*]") TO  FFS TIG ;

### PER CLOCK UNICO in amc_if ...
NET "amc_port_p[0][14]" TNM_NET = "SI_A_CLK0"; # era TNM_NET = FFS "SI_A_CLK"
TIMESPEC TS_SI_A_CLK0 = PERIOD "SI_A_CLK0" 233.28 MHz  INPUT_JITTER 100ps; # era 500
OFFSET = IN 2.143 ns VALID 2.143 ns BEFORE "amc_port_p[0][14]" RISING;
OFFSET = IN 2.143 ns VALID 2.143 ns BEFORE "amc_port_p[0][14]" FALLING;

# location constraints to calibrate adc delays
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[0].ddr_iodelay" LOC = IODELAY_X0Y195;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[0].ddrdatainput" LOC = ILOGIC_X0Y195;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[1].ddrdatainput" LOC = ILOGIC_X0Y193;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[1].ddr_iodelay" LOC = IODELAY_X0Y193;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[2].ddr_iodelay" LOC = IODELAY_X0Y187;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[2].ddrdatainput" LOC = ILOGIC_X0Y187;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[3].ddrdatainput" LOC = ILOGIC_X0Y189;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[3].ddr_iodelay" LOC = IODELAY_X0Y189;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[4].ddrdatainput" LOC = ILOGIC_X0Y185;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[4].ddr_iodelay" LOC = IODELAY_X0Y185;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[5].ddrdatainput" LOC = ILOGIC_X0Y191;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[5].ddr_iodelay" LOC = IODELAY_X0Y191;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[6].ddrdatainput" LOC = ILOGIC_X0Y183;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[6].ddr_iodelay" LOC = IODELAY_X0Y183;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[7].ddrdatainput" LOC = ILOGIC_X0Y181;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[7].ddr_iodelay" LOC = IODELAY_X0Y181;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[8].ddrdatainput" LOC = ILOGIC_X0Y177;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[8].ddr_iodelay" LOC = IODELAY_X0Y177;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[9].ddrdatainput" LOC = ILOGIC_X0Y179;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[9].ddr_iodelay" LOC = IODELAY_X0Y179;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[10].ddrdatainput" LOC = ILOGIC_X0Y173;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[10].ddr_iodelay" LOC = IODELAY_X0Y173;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[11].ddrdatainput" LOC = ILOGIC_X0Y175;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[11].ddr_iodelay" LOC = IODELAY_X0Y175;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[0].ddr_consist_iodelay" LOC = IODELAY_X0Y194;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[0].ddrconsistdatainput" LOC = ILOGIC_X0Y194;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge_rstpot" LOC = SLICE_X0Y97;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[1].ddr_consist_iodelay" LOC = IODELAY_X0Y192;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[1].ddrconsistdatainput" LOC = ILOGIC_X0Y192;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge_rstpot" LOC = SLICE_X0Y96;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[2].ddr_consist_iodelay" LOC = IODELAY_X0Y186;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[2].ddrconsistdatainput" LOC = ILOGIC_X0Y186;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge_rstpot" LOC = SLICE_X0Y93;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[3].ddr_consist_iodelay" LOC = IODELAY_X0Y188;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[3].ddrconsistdatainput" LOC = ILOGIC_X0Y188;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge_rstpot" LOC = SLICE_X0Y94;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[4].ddr_consist_iodelay" LOC = IODELAY_X0Y184;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[4].ddrconsistdatainput" LOC = ILOGIC_X0Y184;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge_rstpot" LOC = SLICE_X0Y92;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[5].ddr_consist_iodelay" LOC = IODELAY_X0Y190;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[5].ddrconsistdatainput" LOC = ILOGIC_X0Y190;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge_rstpot" LOC = SLICE_X0Y95;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[6].ddr_consist_iodelay" LOC = IODELAY_X0Y182;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[6].ddrconsistdatainput" LOC = ILOGIC_X0Y182;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge_rstpot" LOC = SLICE_X0Y91;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[7].ddr_consist_iodelay" LOC = IODELAY_X0Y180;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[7].ddrconsistdatainput" LOC = ILOGIC_X0Y180;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge_rstpot" LOC = SLICE_X0Y90;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[8].ddr_consist_iodelay" LOC = IODELAY_X0Y176;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[8].ddrconsistdatainput" LOC = ILOGIC_X0Y176;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge_rstpot" LOC = SLICE_X0Y88;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[9].ddr_consist_iodelay" LOC = IODELAY_X0Y178;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[9].ddrconsistdatainput" LOC = ILOGIC_X0Y178;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge_rstpot" LOC = SLICE_X0Y89;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[10].ddrconsistdatainput" LOC = ILOGIC_X0Y172;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[10].ddr_consist_iodelay" LOC = IODELAY_X0Y172;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge_rstpot" LOC = SLICE_X0Y86;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[11].ddr_consist_iodelay" LOC = IODELAY_X0Y174;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[11].ddrconsistdatainput" LOC = ILOGIC_X0Y174;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge_rstpot" LOC = SLICE_X0Y87;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[0].ddr_consist_iodelay" LOC = IODELAY_X1Y302;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[0].ddrconsistdatainput" LOC = ILOGIC_X1Y302;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge_rstpot" LOC = SLICE_X47Y151;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[1].ddr_consist_iodelay" LOC = IODELAY_X0Y268;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[1].ddrconsistdatainput" LOC = ILOGIC_X0Y268;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge_rstpot" LOC = SLICE_X0Y134;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[2].ddr_consist_iodelay" LOC = IODELAY_X0Y264;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[2].ddrconsistdatainput" LOC = ILOGIC_X0Y264;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge_rstpot" LOC = SLICE_X0Y132;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[3].ddrconsistdatainput" LOC = ILOGIC_X1Y296;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[3].ddr_consist_iodelay" LOC = IODELAY_X1Y296;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge_rstpot" LOC = SLICE_X47Y148;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[4].ddr_consist_iodelay" LOC = IODELAY_X0Y282;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[4].ddrconsistdatainput" LOC = ILOGIC_X0Y282;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge_rstpot" LOC = SLICE_X0Y141;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[5].ddr_consist_iodelay" LOC = IODELAY_X0Y284;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[5].ddrconsistdatainput" LOC = ILOGIC_X0Y284;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge_rstpot" LOC = SLICE_X0Y142;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[6].ddr_consist_iodelay" LOC = IODELAY_X0Y286;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[6].ddrconsistdatainput" LOC = ILOGIC_X0Y286;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge_rstpot" LOC = SLICE_X0Y143;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[7].ddr_consist_iodelay" LOC = IODELAY_X0Y280;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[7].ddrconsistdatainput" LOC = ILOGIC_X0Y280;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge_rstpot" LOC = SLICE_X0Y140;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[8].ddr_consist_iodelay" LOC = IODELAY_X0Y288;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[8].ddrconsistdatainput" LOC = ILOGIC_X0Y288;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge_rstpot" LOC = SLICE_X0Y144;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[9].ddr_consist_iodelay" LOC = IODELAY_X1Y280;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[9].ddrconsistdatainput" LOC = ILOGIC_X1Y280;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge_rstpot" LOC = SLICE_X47Y140;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[10].ddr_consist_iodelay" LOC = IODELAY_X1Y284;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[10].ddrconsistdatainput" LOC = ILOGIC_X1Y284;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge_rstpot" LOC = SLICE_X47Y142;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[11].ddrconsistdatainput" LOC = ILOGIC_X1Y288;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[11].ddr_consist_iodelay" LOC = IODELAY_X1Y288;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge_rstpot" LOC = SLICE_X47Y144;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[0].ddrdatainput" LOC = ILOGIC_X1Y303;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[0].ddr_iodelay" LOC = IODELAY_X1Y303;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[1].ddrdatainput" LOC = ILOGIC_X0Y269;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[1].ddr_iodelay" LOC = IODELAY_X0Y269;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[2].ddrdatainput" LOC = ILOGIC_X0Y265;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[2].ddr_iodelay" LOC = IODELAY_X0Y265;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[3].ddrdatainput" LOC = ILOGIC_X1Y297;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[3].ddr_iodelay" LOC = IODELAY_X1Y297;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[4].ddrdatainput" LOC = ILOGIC_X0Y283;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[4].ddr_iodelay" LOC = IODELAY_X0Y283;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[5].ddrdatainput" LOC = ILOGIC_X0Y285;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[5].ddr_iodelay" LOC = IODELAY_X0Y285;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[6].ddrdatainput" LOC = ILOGIC_X0Y287;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[6].ddr_iodelay" LOC = IODELAY_X0Y287;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[7].ddrdatainput" LOC = ILOGIC_X0Y281;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[7].ddr_iodelay" LOC = IODELAY_X0Y281;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[8].ddrdatainput" LOC = ILOGIC_X0Y289;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[8].ddr_iodelay" LOC = IODELAY_X0Y289;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[9].ddrdatainput" LOC = ILOGIC_X1Y281;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[9].ddr_iodelay" LOC = IODELAY_X1Y281;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[10].ddrdatainput" LOC = ILOGIC_X1Y285;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[10].ddr_iodelay" LOC = IODELAY_X1Y285;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[11].ddrdatainput" LOC = ILOGIC_X1Y289;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[11].ddr_iodelay" LOC = IODELAY_X1Y289;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[0].ddr_consist_iodelay" LOC = IODELAY_X0Y204;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[0].ddrconsistdatainput" LOC = ILOGIC_X0Y204;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge_rstpot" LOC = SLICE_X0Y102;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[0].ddrdatainput" LOC = ILOGIC_X0Y205;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[0].ddr_iodelay" LOC = IODELAY_X0Y205;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[1].ddr_iodelay" LOC = IODELAY_X0Y273;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[1].ddr_consist_iodelay" LOC = IODELAY_X0Y272;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[1].ddrdatainput" LOC = ILOGIC_X0Y273;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[1].ddrconsistdatainput" LOC = ILOGIC_X0Y272;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge_rstpot" LOC = SLICE_X0Y136;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[2].ddr_consist_iodelay" LOC = IODELAY_X0Y202;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[2].ddr_iodelay" LOC = IODELAY_X0Y203;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[2].ddrconsistdatainput" LOC = ILOGIC_X0Y202;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[2].ddrdatainput" LOC = ILOGIC_X0Y203;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge_rstpot" LOC = SLICE_X0Y101;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[3].ddr_iodelay" LOC = IODELAY_X0Y223;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[3].ddr_consist_iodelay" LOC = IODELAY_X0Y222;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[3].ddrdatainput" LOC = ILOGIC_X0Y223;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[3].ddrconsistdatainput" LOC = ILOGIC_X0Y222;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge_rstpot" LOC = SLICE_X0Y111;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[4].ddr_consist_iodelay" LOC = IODELAY_X0Y230;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[4].ddr_iodelay" LOC = IODELAY_X0Y231;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[4].ddrdatainput" LOC = ILOGIC_X0Y231;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[4].ddrconsistdatainput" LOC = ILOGIC_X0Y230;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge_rstpot" LOC = SLICE_X0Y115;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[5].ddr_iodelay" LOC = IODELAY_X0Y225;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[5].ddr_consist_iodelay" LOC = IODELAY_X0Y224;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[5].ddrdatainput" LOC = ILOGIC_X0Y225;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[5].ddrconsistdatainput" LOC = ILOGIC_X0Y224;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge_rstpot" LOC = SLICE_X0Y112;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[6].ddr_iodelay" LOC = IODELAY_X0Y221;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[6].ddr_consist_iodelay" LOC = IODELAY_X0Y220;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[6].ddrdatainput" LOC = ILOGIC_X0Y221;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[6].ddrconsistdatainput" LOC = ILOGIC_X0Y220;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge_rstpot" LOC = SLICE_X0Y110;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[7].ddr_iodelay" LOC = IODELAY_X0Y217;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[7].ddr_consist_iodelay" LOC = IODELAY_X0Y216;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[7].ddrdatainput" LOC = ILOGIC_X0Y217;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[7].ddrconsistdatainput" LOC = ILOGIC_X0Y216;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge_rstpot" LOC = SLICE_X0Y108;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[8].ddr_iodelay" LOC = IODELAY_X0Y219;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[8].ddrdatainput" LOC = ILOGIC_X0Y219;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge_rstpot" LOC = SLICE_X0Y109;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[8].ddrconsistdatainput" LOC = ILOGIC_X0Y218;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[8].ddr_consist_iodelay" LOC = IODELAY_X0Y218;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[9].ddr_consist_iodelay" LOC = IODELAY_X0Y214;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[9].ddrconsistdatainput" LOC = ILOGIC_X0Y214;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[9].ddrdatainput" LOC = ILOGIC_X0Y215;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[9].ddr_iodelay" LOC = IODELAY_X0Y215;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge_rstpot" LOC = SLICE_X0Y107;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[10].ddr_iodelay" LOC = IODELAY_X0Y209;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[10].ddr_consist_iodelay" LOC = IODELAY_X0Y208;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[10].ddrconsistdatainput" LOC = ILOGIC_X0Y208;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[10].ddrdatainput" LOC = ILOGIC_X0Y209;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge_rstpot" LOC = SLICE_X0Y104;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[11].ddr_iodelay" LOC = IODELAY_X0Y207;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[11].ddr_consist_iodelay" LOC = IODELAY_X0Y206;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[11].ddrdatainput" LOC = ILOGIC_X0Y207;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[11].ddrconsistdatainput" LOC = ILOGIC_X0Y206;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge_rstpot" LOC = SLICE_X0Y103;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[0].ddr_iodelay" LOC = IODELAY_X0Y255;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[0].ddr_consist_iodelay" LOC = IODELAY_X0Y254;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[0].ddrdatainput" LOC = ILOGIC_X0Y255;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[0].ddrconsistdatainput" LOC = ILOGIC_X0Y254;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge_rstpot" LOC = SLICE_X0Y127;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[1].ddr_iodelay" LOC = IODELAY_X0Y253;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[1].ddr_consist_iodelay" LOC = IODELAY_X0Y252;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[1].ddrdatainput" LOC = ILOGIC_X0Y253;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[1].ddrconsistdatainput" LOC = ILOGIC_X0Y252;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge_rstpot" LOC = SLICE_X0Y126;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[2].ddr_iodelay" LOC = IODELAY_X0Y251;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[2].ddr_consist_iodelay" LOC = IODELAY_X0Y250;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[2].ddrdatainput" LOC = ILOGIC_X0Y251;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[2].ddrconsistdatainput" LOC = ILOGIC_X0Y250;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge_rstpot" LOC = SLICE_X0Y125;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[3].ddr_iodelay" LOC = IODELAY_X0Y263;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[3].ddr_consist_iodelay" LOC = IODELAY_X0Y262;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[3].ddrconsistdatainput" LOC = ILOGIC_X0Y262;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[3].ddrdatainput" LOC = ILOGIC_X0Y263;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge_rstpot" LOC = SLICE_X0Y131;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[4].ddr_iodelay" LOC = IODELAY_X0Y261;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[4].ddr_consist_iodelay" LOC = IODELAY_X0Y260;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[4].ddrconsistdatainput" LOC = ILOGIC_X0Y260;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[4].ddrdatainput" LOC = ILOGIC_X0Y261;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge_rstpot" LOC = SLICE_X0Y130;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[5].ddr_iodelay" LOC = IODELAY_X0Y259;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[5].ddr_consist_iodelay" LOC = IODELAY_X0Y258;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[5].ddrconsistdatainput" LOC = ILOGIC_X0Y258;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[5].ddrdatainput" LOC = ILOGIC_X0Y259;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge_rstpot" LOC = SLICE_X0Y129;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[6].ddr_iodelay" LOC = IODELAY_X0Y257;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[6].ddr_consist_iodelay" LOC = IODELAY_X0Y256;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[6].ddrconsistdatainput" LOC = ILOGIC_X0Y256;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[6].ddrdatainput" LOC = ILOGIC_X0Y257;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge_rstpot" LOC = SLICE_X0Y128;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[7].ddr_iodelay" LOC = IODELAY_X0Y277;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[7].ddr_consist_iodelay" LOC = IODELAY_X0Y276;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[7].ddrconsistdatainput" LOC = ILOGIC_X0Y276;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[7].ddrdatainput" LOC = ILOGIC_X0Y277;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge_rstpot" LOC = SLICE_X0Y138;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[8].ddr_iodelay" LOC = IODELAY_X0Y275;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[8].ddr_consist_iodelay" LOC = IODELAY_X0Y274;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[8].ddrconsistdatainput" LOC = ILOGIC_X0Y274;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[8].ddrdatainput" LOC = ILOGIC_X0Y275;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge_rstpot" LOC = SLICE_X0Y137;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[9].ddr_iodelay" LOC = IODELAY_X0Y279;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[9].ddr_consist_iodelay" LOC = IODELAY_X0Y278;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[9].ddrconsistdatainput" LOC = ILOGIC_X0Y278;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[9].ddrdatainput" LOC = ILOGIC_X0Y279;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge_rstpot" LOC = SLICE_X0Y139;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[10].ddr_consist_iodelay" LOC = IODELAY_X0Y242;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[10].ddr_iodelay" LOC = IODELAY_X0Y243;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[10].ddrdatainput" LOC = ILOGIC_X0Y243;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[10].ddrconsistdatainput" LOC = ILOGIC_X0Y242;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge_rstpot" LOC = SLICE_X0Y121;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[11].ddr_iodelay" LOC = IODELAY_X0Y245;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[11].ddr_consist_iodelay" LOC = IODELAY_X0Y244;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[11].ddrconsistdatainput" LOC = ILOGIC_X0Y244;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[11].ddrdatainput" LOC = ILOGIC_X0Y245;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge_rstpot" LOC = SLICE_X0Y122;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[0].ddr_iodelay" LOC = IODELAY_X0Y95;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[0].ddr_consist_iodelay" LOC = IODELAY_X0Y94;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[0].ddrconsistdatainput" LOC = ILOGIC_X0Y94;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[0].ddrdatainput" LOC = ILOGIC_X0Y95;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge_rstpot" LOC = SLICE_X0Y47;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[1].ddr_iodelay" LOC = IODELAY_X0Y153;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[1].ddr_consist_iodelay" LOC = IODELAY_X0Y152;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[1].ddrconsistdatainput" LOC = ILOGIC_X0Y152;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[1].ddrdatainput" LOC = ILOGIC_X0Y153;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge_rstpot" LOC = SLICE_X0Y76;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[2].ddr_iodelay" LOC = IODELAY_X0Y155;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[2].ddr_consist_iodelay" LOC = IODELAY_X0Y154;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[2].ddrconsistdatainput" LOC = ILOGIC_X0Y154;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[2].ddrdatainput" LOC = ILOGIC_X0Y155;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge_rstpot" LOC = SLICE_X0Y77;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[3].ddr_iodelay" LOC = IODELAY_X0Y151;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[3].ddr_consist_iodelay" LOC = IODELAY_X0Y150;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[3].ddrconsistdatainput" LOC = ILOGIC_X0Y150;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[3].ddrdatainput" LOC = ILOGIC_X0Y151;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge_rstpot" LOC = SLICE_X0Y75;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[4].ddr_consist_iodelay" LOC = IODELAY_X0Y210;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[4].ddr_iodelay" LOC = IODELAY_X0Y211;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[4].ddrdatainput" LOC = ILOGIC_X0Y211;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[4].ddrconsistdatainput" LOC = ILOGIC_X0Y210;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge_rstpot" LOC = SLICE_X0Y105;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[5].ddr_iodelay" LOC = IODELAY_X0Y213;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[5].ddr_consist_iodelay" LOC = IODELAY_X0Y212;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[5].ddrconsistdatainput" LOC = ILOGIC_X0Y212;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[5].ddrdatainput" LOC = ILOGIC_X0Y213;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge_rstpot" LOC = SLICE_X0Y106;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[6].ddr_iodelay" LOC = IODELAY_X0Y81;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[6].ddr_consist_iodelay" LOC = IODELAY_X0Y80;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[6].ddrconsistdatainput" LOC = ILOGIC_X0Y80;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[6].ddrdatainput" LOC = ILOGIC_X0Y81;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge_rstpot" LOC = SLICE_X0Y40;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[7].ddr_iodelay" LOC = IODELAY_X0Y83;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[7].ddr_consist_iodelay" LOC = IODELAY_X0Y82;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[7].ddrconsistdatainput" LOC = ILOGIC_X0Y82;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[7].ddrdatainput" LOC = ILOGIC_X0Y83;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge_rstpot" LOC = SLICE_X0Y41;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[8].ddr_iodelay" LOC = IODELAY_X0Y129;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[8].ddr_consist_iodelay" LOC = IODELAY_X0Y128;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[8].ddrconsistdatainput" LOC = ILOGIC_X0Y128;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[8].ddrdatainput" LOC = ILOGIC_X0Y129;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge_rstpot" LOC = SLICE_X0Y64;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[9].ddr_iodelay" LOC = IODELAY_X0Y87;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[9].ddr_consist_iodelay" LOC = IODELAY_X0Y86;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[9].ddrdatainput" LOC = ILOGIC_X0Y87;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[9].ddrconsistdatainput" LOC = ILOGIC_X0Y86;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge_rstpot" LOC = SLICE_X0Y43;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[10].ddr_iodelay" LOC = IODELAY_X0Y39;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[10].ddrconsistdatainput" LOC = ILOGIC_X0Y38;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[10].ddr_consist_iodelay" LOC = IODELAY_X0Y38;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[10].ddrdatainput" LOC = ILOGIC_X0Y39;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge_rstpot" LOC = SLICE_X0Y19;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[11].ddr_iodelay" LOC = IODELAY_X0Y35;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[11].ddr_consist_iodelay" LOC = IODELAY_X0Y34;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[11].ddrconsistdatainput" LOC = ILOGIC_X0Y34;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[11].ddrdatainput" LOC = ILOGIC_X0Y35;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge_rstpot" LOC = SLICE_X0Y17;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[0].ddr_consist_iodelay" LOC = IODELAY_X0Y124;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[0].ddr_iodelay" LOC = IODELAY_X0Y125;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[0].ddrdatainput" LOC = ILOGIC_X0Y125;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[0].ddrconsistdatainput" LOC = ILOGIC_X0Y124;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge_rstpot" LOC = SLICE_X0Y62;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[1].ddr_iodelay" LOC = IODELAY_X0Y127;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[1].ddr_consist_iodelay" LOC = IODELAY_X0Y126;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[1].ddrdatainput" LOC = ILOGIC_X0Y127;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[1].ddrconsistdatainput" LOC = ILOGIC_X0Y126;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge_rstpot" LOC = SLICE_X0Y63;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[2].ddr_iodelay" LOC = IODELAY_X0Y133;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[2].ddr_consist_iodelay" LOC = IODELAY_X0Y132;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[2].ddrconsistdatainput" LOC = ILOGIC_X0Y132;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[2].ddrdatainput" LOC = ILOGIC_X0Y133;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge_rstpot" LOC = SLICE_X0Y66;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[3].ddr_iodelay" LOC = IODELAY_X0Y139;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[3].ddr_consist_iodelay" LOC = IODELAY_X0Y138;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[3].ddrdatainput" LOC = ILOGIC_X0Y139;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[3].ddrconsistdatainput" LOC = ILOGIC_X0Y138;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge_rstpot" LOC = SLICE_X0Y69;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[4].ddr_iodelay" LOC = IODELAY_X0Y135;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[4].ddr_consist_iodelay" LOC = IODELAY_X0Y134;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[4].ddrdatainput" LOC = ILOGIC_X0Y135;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[4].ddrconsistdatainput" LOC = ILOGIC_X0Y134;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge_rstpot" LOC = SLICE_X0Y67;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[5].ddr_iodelay" LOC = IODELAY_X0Y131;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[5].ddr_consist_iodelay" LOC = IODELAY_X0Y130;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[5].ddrdatainput" LOC = ILOGIC_X0Y131;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[5].ddrconsistdatainput" LOC = ILOGIC_X0Y130;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge_rstpot" LOC = SLICE_X0Y65;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[6].ddr_iodelay" LOC = IODELAY_X0Y143;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[6].ddr_consist_iodelay" LOC = IODELAY_X0Y142;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[6].ddrdatainput" LOC = ILOGIC_X0Y143;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[6].ddrconsistdatainput" LOC = ILOGIC_X0Y142;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge_rstpot" LOC = SLICE_X0Y71;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[7].ddr_iodelay" LOC = IODELAY_X0Y141;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[7].ddr_consist_iodelay" LOC = IODELAY_X0Y140;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[7].ddrdatainput" LOC = ILOGIC_X0Y141;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[7].ddrconsistdatainput" LOC = ILOGIC_X0Y140;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge_rstpot" LOC = SLICE_X0Y70;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[8].ddrconsistdatainput" LOC = ILOGIC_X0Y136;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[8].ddrdatainput" LOC = ILOGIC_X0Y137;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[8].ddr_iodelay" LOC = IODELAY_X0Y137;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[8].ddr_consist_iodelay" LOC = IODELAY_X0Y136;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge_rstpot" LOC = SLICE_X0Y68;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[9].ddr_iodelay" LOC = IODELAY_X0Y149;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[9].ddr_consist_iodelay" LOC = IODELAY_X0Y148;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[9].ddrdatainput" LOC = ILOGIC_X0Y149;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[9].ddrconsistdatainput" LOC = ILOGIC_X0Y148;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge_rstpot" LOC = SLICE_X0Y74;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[10].ddr_iodelay" LOC = IODELAY_X0Y147;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[10].ddr_consist_iodelay" LOC = IODELAY_X0Y146;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[10].ddrdatainput" LOC = ILOGIC_X0Y147;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[10].ddrconsistdatainput" LOC = ILOGIC_X0Y146;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge_rstpot" LOC = SLICE_X0Y73;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[11].ddr_iodelay" LOC = IODELAY_X0Y145;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[11].ddr_consist_iodelay" LOC = IODELAY_X0Y144;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[11].ddrdatainput" LOC = ILOGIC_X0Y145;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[11].ddrconsistdatainput" LOC = ILOGIC_X0Y144;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge_rstpot" LOC = SLICE_X0Y72;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[0].ddr_iodelay" LOC = IODELAY_X0Y237;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[0].ddr_consist_iodelay" LOC = IODELAY_X0Y236;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[0].ddrdatainput" LOC = ILOGIC_X0Y237;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[0].ddrconsistdatainput" LOC = ILOGIC_X0Y236;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge_rstpot" LOC = SLICE_X0Y118;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[1].ddr_iodelay" LOC = IODELAY_X0Y229;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[1].ddr_consist_iodelay" LOC = IODELAY_X0Y228;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[1].ddrdatainput" LOC = ILOGIC_X0Y229;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[1].ddrconsistdatainput" LOC = ILOGIC_X0Y228;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge_rstpot" LOC = SLICE_X0Y114;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[2].ddr_iodelay" LOC = IODELAY_X0Y235;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[2].ddr_consist_iodelay" LOC = IODELAY_X0Y234;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[2].ddrdatainput" LOC = ILOGIC_X0Y235;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[2].ddrconsistdatainput" LOC = ILOGIC_X0Y234;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge_rstpot" LOC = SLICE_X0Y117;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[3].ddr_iodelay" LOC = IODELAY_X0Y227;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[3].ddr_consist_iodelay" LOC = IODELAY_X0Y226;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[3].ddrdatainput" LOC = ILOGIC_X0Y227;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[3].ddrconsistdatainput" LOC = ILOGIC_X0Y226;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge_rstpot" LOC = SLICE_X0Y113;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[4].ddr_iodelay" LOC = IODELAY_X0Y169;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[4].ddr_consist_iodelay" LOC = IODELAY_X0Y168;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[4].ddrdatainput" LOC = ILOGIC_X0Y169;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[4].ddrconsistdatainput" LOC = ILOGIC_X0Y168;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge_rstpot" LOC = SLICE_X0Y84;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[5].ddr_iodelay" LOC = IODELAY_X0Y171;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[5].ddr_consist_iodelay" LOC = IODELAY_X0Y170;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[5].ddrdatainput" LOC = ILOGIC_X0Y171;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[5].ddrconsistdatainput" LOC = ILOGIC_X0Y170;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge_rstpot" LOC = SLICE_X0Y85;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[6].ddr_iodelay" LOC = IODELAY_X0Y165;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[6].ddr_consist_iodelay" LOC = IODELAY_X0Y164;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[6].ddrdatainput" LOC = ILOGIC_X0Y165;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[6].ddrconsistdatainput" LOC = ILOGIC_X0Y164;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge_rstpot" LOC = SLICE_X0Y82;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[7].ddr_consist_iodelay" LOC = IODELAY_X0Y166;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[7].ddr_iodelay" LOC = IODELAY_X0Y167;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[7].ddrconsistdatainput" LOC = ILOGIC_X0Y166;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[7].ddrdatainput" LOC = ILOGIC_X0Y167;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge_rstpot" LOC = SLICE_X0Y83;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[8].ddr_iodelay" LOC = IODELAY_X0Y163;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[8].ddr_consist_iodelay" LOC = IODELAY_X0Y162;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[8].ddrdatainput" LOC = ILOGIC_X0Y163;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[8].ddrconsistdatainput" LOC = ILOGIC_X0Y162;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge_rstpot" LOC = SLICE_X0Y81;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[9].ddr_iodelay" LOC = IODELAY_X0Y161;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[9].ddr_consist_iodelay" LOC = IODELAY_X0Y160;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[9].ddrdatainput" LOC = ILOGIC_X0Y161;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[9].ddrconsistdatainput" LOC = ILOGIC_X0Y160;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge_rstpot" LOC = SLICE_X0Y80;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[10].ddr_consist_iodelay" LOC = IODELAY_X0Y158;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[10].ddr_iodelay" LOC = IODELAY_X0Y159;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[10].ddrconsistdatainput" LOC = ILOGIC_X0Y158;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[10].ddrdatainput" LOC = ILOGIC_X0Y159;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge_rstpot" LOC = SLICE_X0Y79;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[11].ddr_iodelay" LOC = IODELAY_X0Y157;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[11].ddr_consist_iodelay" LOC = IODELAY_X0Y156;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[11].ddrconsistdatainput" LOC = ILOGIC_X0Y156;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[11].ddrdatainput" LOC = ILOGIC_X0Y157;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge_rstpot" LOC = SLICE_X0Y78;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[0].ddr_iodelay" LOC = IODELAY_X0Y99;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[0].ddr_consist_iodelay" LOC = IODELAY_X0Y98;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[0].ddrconsistdatainput" LOC = ILOGIC_X0Y98;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[0].ddrdatainput" LOC = ILOGIC_X0Y99;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge_rstpot" LOC = SLICE_X0Y49;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[1].ddrconsistdatainput" LOC = ILOGIC_X0Y100;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[1].ddr_iodelay" LOC = IODELAY_X0Y101;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[1].ddr_consist_iodelay" LOC = IODELAY_X0Y100;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[1].ddrdatainput" LOC = ILOGIC_X0Y101;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge_rstpot" LOC = SLICE_X0Y50;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[2].ddrconsistdatainput" LOC = ILOGIC_X0Y96;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[2].ddrdatainput" LOC = ILOGIC_X0Y97;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[2].ddr_iodelay" LOC = IODELAY_X0Y97;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[2].ddr_consist_iodelay" LOC = IODELAY_X0Y96;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge_rstpot" LOC = SLICE_X0Y48;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[3].ddr_iodelay" LOC = IODELAY_X0Y107;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[3].ddr_consist_iodelay" LOC = IODELAY_X0Y106;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[3].ddrdatainput" LOC = ILOGIC_X0Y107;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[3].ddrconsistdatainput" LOC = ILOGIC_X0Y106;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge_rstpot" LOC = SLICE_X0Y53;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[4].ddr_iodelay" LOC = IODELAY_X0Y103;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[4].ddr_consist_iodelay" LOC = IODELAY_X0Y102;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[4].ddrdatainput" LOC = ILOGIC_X0Y103;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[4].ddrconsistdatainput" LOC = ILOGIC_X0Y102;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge_rstpot" LOC = SLICE_X0Y51;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[5].ddr_iodelay" LOC = IODELAY_X0Y111;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[5].ddr_consist_iodelay" LOC = IODELAY_X0Y110;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[5].ddrdatainput" LOC = ILOGIC_X0Y111;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[5].ddrconsistdatainput" LOC = ILOGIC_X0Y110;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge_rstpot" LOC = SLICE_X0Y55;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[6].ddr_iodelay" LOC = IODELAY_X0Y105;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[6].ddr_consist_iodelay" LOC = IODELAY_X0Y104;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[6].ddrconsistdatainput" LOC = ILOGIC_X0Y104;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[6].ddrdatainput" LOC = ILOGIC_X0Y105;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge_rstpot" LOC = SLICE_X0Y52;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[7].ddr_iodelay" LOC = IODELAY_X0Y113;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[7].ddr_consist_iodelay" LOC = IODELAY_X0Y112;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[7].ddrconsistdatainput" LOC = ILOGIC_X0Y112;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[7].ddrdatainput" LOC = ILOGIC_X0Y113;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge_rstpot" LOC = SLICE_X0Y56;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[8].ddrdatainput" LOC = ILOGIC_X0Y109;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[8].ddrconsistdatainput" LOC = ILOGIC_X0Y108;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[8].ddr_iodelay" LOC = IODELAY_X0Y109;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[8].ddr_consist_iodelay" LOC = IODELAY_X0Y108;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge_rstpot" LOC = SLICE_X0Y54;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[9].ddrdatainput" LOC = ILOGIC_X0Y117;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[9].ddrconsistdatainput" LOC = ILOGIC_X0Y116;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[9].ddr_iodelay" LOC = IODELAY_X0Y117;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[9].ddr_consist_iodelay" LOC = IODELAY_X0Y116;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge_rstpot" LOC = SLICE_X0Y58;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[10].ddrdatainput" LOC = ILOGIC_X0Y115;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[10].ddrconsistdatainput" LOC = ILOGIC_X0Y114;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[10].ddr_iodelay" LOC = IODELAY_X0Y115;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[10].ddr_consist_iodelay" LOC = IODELAY_X0Y114;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge_rstpot" LOC = SLICE_X0Y57;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[11].ddrdatainput" LOC = ILOGIC_X0Y119;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[11].ddrconsistdatainput" LOC = ILOGIC_X0Y118;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[11].ddr_iodelay" LOC = IODELAY_X0Y119;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[11].ddr_consist_iodelay" LOC = IODELAY_X0Y118;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge_rstpot" BEL = B6LUT;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge_rstpot" LOC = SLICE_X0Y59;

INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge" LOC = SLICE_X0Y97;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge" LOC = SLICE_X0Y96;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge" LOC = SLICE_X0Y93;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge" LOC = SLICE_X0Y94;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge" LOC = SLICE_X0Y92;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge" LOC = SLICE_X0Y95;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge" LOC = SLICE_X0Y91;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge" LOC = SLICE_X0Y90;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge" LOC = SLICE_X0Y88;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge" LOC = SLICE_X0Y89;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge" LOC = SLICE_X0Y86;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[0].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge" LOC = SLICE_X0Y87;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge" LOC = SLICE_X0Y134;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge" LOC = SLICE_X0Y132;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge" LOC = SLICE_X47Y148;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge" LOC = SLICE_X0Y141;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge" LOC = SLICE_X0Y142;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge" LOC = SLICE_X0Y143;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge" LOC = SLICE_X0Y140;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge" LOC = SLICE_X47Y140;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge" LOC = SLICE_X47Y142;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[1].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge" LOC = SLICE_X47Y144;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge" LOC = SLICE_X0Y102;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge" LOC = SLICE_X0Y136;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge" LOC = SLICE_X0Y101;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge" LOC = SLICE_X0Y111;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge" LOC = SLICE_X0Y115;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge" LOC = SLICE_X0Y112;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge" LOC = SLICE_X0Y110;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge" LOC = SLICE_X0Y108;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge" LOC = SLICE_X0Y109;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge" LOC = SLICE_X0Y107;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge" LOC = SLICE_X0Y104;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[2].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge" LOC = SLICE_X0Y103;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge" LOC = SLICE_X0Y127;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge" LOC = SLICE_X0Y126;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge" LOC = SLICE_X0Y125;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge" LOC = SLICE_X0Y131;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge" LOC = SLICE_X0Y130;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge" LOC = SLICE_X0Y129;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge" LOC = SLICE_X0Y128;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge" LOC = SLICE_X0Y138;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge" LOC = SLICE_X0Y137;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge" LOC = SLICE_X0Y139;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge" LOC = SLICE_X0Y121;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[3].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge" LOC = SLICE_X0Y122;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge" LOC = SLICE_X0Y47;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge" LOC = SLICE_X0Y76;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge" LOC = SLICE_X0Y77;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge" LOC = SLICE_X0Y75;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge" LOC = SLICE_X0Y105;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge" LOC = SLICE_X0Y106;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge" LOC = SLICE_X0Y40;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge" LOC = SLICE_X0Y41;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge" LOC = SLICE_X0Y64;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge" LOC = SLICE_X0Y43;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge" LOC = SLICE_X0Y19;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[4].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge" LOC = SLICE_X0Y17;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge" LOC = SLICE_X0Y62;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge" LOC = SLICE_X0Y63;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge" LOC = SLICE_X0Y66;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge" LOC = SLICE_X0Y69;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge" LOC = SLICE_X0Y67;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge" LOC = SLICE_X0Y65;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge" LOC = SLICE_X0Y71;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge" LOC = SLICE_X0Y70;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge" LOC = SLICE_X0Y68;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge" LOC = SLICE_X0Y74;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge" LOC = SLICE_X0Y73;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[5].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge" LOC = SLICE_X0Y72;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge" LOC = SLICE_X0Y118;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge" LOC = SLICE_X0Y114;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge" LOC = SLICE_X0Y117;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge" LOC = SLICE_X0Y113;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge" LOC = SLICE_X0Y78;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge" LOC = SLICE_X0Y79;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge" LOC = SLICE_X0Y80;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge" LOC = SLICE_X0Y81;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge" LOC = SLICE_X0Y83;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge" LOC = SLICE_X0Y82;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge" LOC = SLICE_X0Y85;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[6].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge" LOC = SLICE_X0Y84;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[0].fdre_latch_edge" LOC = SLICE_X0Y49;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[1].fdre_latch_edge" LOC = SLICE_X0Y50;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[2].fdre_latch_edge" LOC = SLICE_X0Y48;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[3].fdre_latch_edge" LOC = SLICE_X0Y53;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[4].fdre_latch_edge" LOC = SLICE_X0Y51;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[5].fdre_latch_edge" LOC = SLICE_X0Y55;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[6].fdre_latch_edge" LOC = SLICE_X0Y52;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[7].fdre_latch_edge" LOC = SLICE_X0Y56;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[8].fdre_latch_edge" LOC = SLICE_X0Y54;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[9].fdre_latch_edge" LOC = SLICE_X0Y58;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[10].fdre_latch_edge" LOC = SLICE_X0Y57;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge" BEL = BFF;
INST "inst_mcs_amcs.inst_amc_if/inst_amc_ports[7].inst_mcs.adc_bits_ddrin[11].fdre_latch_edge" LOC = SLICE_X0Y59;