### SLINK INTERFACE #######################
NET "vlff" OFFSET = IN 16 ns VALID 25 ns BEFORE "CLK_40MHZ_VDSP";

#INST "VSRESET" TNM = PAD_GRP;
INST "vuwen" TNM = "PAD_GRP";
INST "vuclk" TNM = "PAD_GRP";
INST "vuctrl" TNM = "PAD_GRP";
INST "vud[*]" TNM = "PAD_GRP";

TIMEGRP "PAD_GRP" OFFSET = OUT 16 ns AFTER "CLK_40MHZ_VDSP" REFERENCE_PIN "VUCLK" RISING;
#TIMEGRP "PAD_GRP" OFFSET = OUT 13 ns AFTER "CLK_40MHZ_VDSP" 
NET "vlff" CLOCK_DEDICATED_ROUTE = FALSE;

NET "vldown" LOC = AN17;
NET "vlff" LOC = AJ27;
NET "vuclk" LOC = AJ20;
NET "vuctrl" LOC = AP15;
NET "vud[0]" LOC = AH24;
NET "vud[1]" LOC = AL23;
NET "vud[10]" LOC = AK19;
NET "vud[11]" LOC = AJ21;
NET "vud[12]" LOC = AL19;
NET "vud[13]" LOC = AJ22;
NET "vud[14]" LOC = AJ19;
NET "vud[15]" LOC = AL18;
#formerly known as VUD<16>
NET "vud[17]" LOC = AL15;
#formerly known as VUD<17>
NET "vud[16]" LOC = AL13;
NET "vud[18]" LOC = AK13;
NET "vud[19]" LOC = AK16;
NET "vud[2]" LOC = AH23;
NET "vud[20]" LOC = AL14;
NET "vud[21]" LOC = AK14;
NET "vud[22]" LOC = AJ14;
NET "vud[23]" LOC = AM15;
#formerly known as VUD<24> 
NET "vud[25]" LOC = AK12;
#formerly known as VUD<25>
NET "vud[24]" LOC = AJ16;
NET "vud[26]" LOC = AJ17;
NET "vud[27]" LOC = AJ15;
NET "vud[28]" LOC = AJ12;
NET "vud[29]" LOC = AK18;
NET "vud[3]" LOC = AK24;
NET "vud[30]" LOC = AK17;
NET "vud[31]" LOC = AL16;
NET "vud[4]" LOC = AL21;
NET "vud[5]" LOC = AK23;
NET "vud[6]" LOC = AK21;
NET "vud[7]" LOC = AK22;
NET "vud[8]" LOC = AL20;
NET "vud[9]" LOC = AJ24;
NET "vudw[0]" LOC = AP17;
NET "vudw[1]" LOC = AN15;
NET "vureset" LOC = AM16;
NET "vutest" LOC = AP16;
NET "vuwen" LOC = AM17;
NET "vuwen" SLEW = FAST;
NET "vuwen" DRIVE = 8;
NET "vuwen" IOSTANDARD = LVTTL;
NET "vutest" SLEW = FAST;
NET "vutest" DRIVE = 8;
NET "vutest" IOSTANDARD = LVTTL;
NET "vuctrl" SLEW = FAST;
NET "vuctrl" DRIVE = 8;
NET "vuctrl" IOSTANDARD = LVTTL;
NET "vud[0]" SLEW = FAST;
NET "vud[10]" SLEW = FAST;
NET "vud[11]" SLEW = FAST;
NET "vud[12]" SLEW = FAST;
NET "vud[13]" SLEW = FAST;
NET "vud[14]" SLEW = FAST;
NET "vud[15]" SLEW = FAST;
NET "vud[16]" SLEW = FAST;
NET "vud[17]" SLEW = FAST;
NET "vud[18]" SLEW = FAST;
NET "vud[19]" SLEW = FAST;
NET "vud[1]" SLEW = FAST;
NET "vud[20]" SLEW = FAST;
NET "vud[21]" SLEW = FAST;
NET "vud[22]" SLEW = FAST;
NET "vud[23]" SLEW = FAST;
NET "vud[24]" SLEW = FAST;
NET "vud[25]" SLEW = FAST;
NET "vud[26]" SLEW = FAST;
NET "vud[27]" SLEW = FAST;
NET "vud[28]" SLEW = FAST;
NET "vud[29]" SLEW = FAST;
NET "vud[2]" SLEW = FAST;
NET "vud[30]" SLEW = FAST;
NET "vud[31]" SLEW = FAST;
NET "vud[3]" SLEW = FAST;
NET "vud[4]" SLEW = FAST;
NET "vud[5]" SLEW = FAST;
NET "vud[6]" SLEW = FAST;
NET "vud[7]" SLEW = FAST;
NET "vud[8]" SLEW = FAST;
NET "vud[9]" SLEW = FAST;
NET "vud[0]" DRIVE = 8;
NET "vud[10]" DRIVE = 8;
NET "vud[11]" DRIVE = 8;
NET "vud[12]" DRIVE = 8;
NET "vud[13]" DRIVE = 8;
NET "vud[14]" DRIVE = 8;
NET "vud[15]" DRIVE = 8;
NET "vud[16]" DRIVE = 8;
NET "vud[17]" DRIVE = 8;
NET "vud[18]" DRIVE = 8;
NET "vud[19]" DRIVE = 8;
NET "vud[1]" DRIVE = 8;
NET "vud[20]" DRIVE = 8;
NET "vud[21]" DRIVE = 8;
NET "vud[22]" DRIVE = 8;
NET "vud[23]" DRIVE = 8;
NET "vud[24]" DRIVE = 8;
NET "vud[25]" DRIVE = 8;
NET "vud[26]" DRIVE = 8;
NET "vud[27]" DRIVE = 8;
NET "vud[28]" DRIVE = 8;
NET "vud[29]" DRIVE = 8;
NET "vud[2]" DRIVE = 8;
NET "vud[30]" DRIVE = 8;
NET "vud[31]" DRIVE = 8;
NET "vud[3]" DRIVE = 8;
NET "vud[4]" DRIVE = 8;
NET "vud[5]" DRIVE = 8;
NET "vud[6]" DRIVE = 8;
NET "vud[7]" DRIVE = 8;
NET "vud[8]" DRIVE = 8;
NET "vud[9]" DRIVE = 8;
NET "vud[0]" IOSTANDARD = LVTTL;
NET "vud[10]" IOSTANDARD = LVTTL;
NET "vud[11]" IOSTANDARD = LVTTL;
NET "vud[12]" IOSTANDARD = LVTTL;
NET "vud[13]" IOSTANDARD = LVTTL;
NET "vud[14]" IOSTANDARD = LVTTL;
NET "vud[15]" IOSTANDARD = LVTTL;
NET "vud[16]" IOSTANDARD = LVTTL;
NET "vud[17]" IOSTANDARD = LVTTL;
NET "vud[18]" IOSTANDARD = LVTTL;
NET "vud[19]" IOSTANDARD = LVTTL;
NET "vud[1]" IOSTANDARD = LVTTL;
NET "vud[20]" IOSTANDARD = LVTTL;
NET "vud[21]" IOSTANDARD = LVTTL;
NET "vud[22]" IOSTANDARD = LVTTL;
NET "vud[23]" IOSTANDARD = LVTTL;
NET "vud[24]" IOSTANDARD = LVTTL;
NET "vud[25]" IOSTANDARD = LVTTL;
NET "vud[26]" IOSTANDARD = LVTTL;
NET "vud[27]" IOSTANDARD = LVTTL;
NET "vud[28]" IOSTANDARD = LVTTL;
NET "vud[29]" IOSTANDARD = LVTTL;
NET "vud[2]" IOSTANDARD = LVTTL;
NET "vud[30]" IOSTANDARD = LVTTL;
NET "vud[31]" IOSTANDARD = LVTTL;
NET "vud[3]" IOSTANDARD = LVTTL;
NET "vud[4]" IOSTANDARD = LVTTL;
NET "vud[5]" IOSTANDARD = LVTTL;
NET "vud[6]" IOSTANDARD = LVTTL;
NET "vud[7]" IOSTANDARD = LVTTL;
NET "vud[8]" IOSTANDARD = LVTTL;
NET "vud[9]" IOSTANDARD = LVTTL;
NET "vudw[0]" SLEW = FAST;
NET "vudw[1]" SLEW = FAST;
NET "vudw[0]" DRIVE = 8;
NET "vudw[1]" DRIVE = 8;
NET "vudw[0]" IOSTANDARD = LVTTL;
NET "vudw[1]" IOSTANDARD = LVTTL;
NET "vureset" SLEW = FAST;
NET "vureset" DRIVE = 8;
NET "vureset" IOSTANDARD = LVTTL;
NET "vuclk" SLEW = FAST;
NET "vuclk" DRIVE = 8;
NET "vuclk" IOSTANDARD = LVTTL;
NET "vldown" CLOCK_DEDICATED_ROUTE = FALSE;
NET "vldown" SLEW = FAST;
NET "vldown" DRIVE = 8;
NET "vldown" IOSTANDARD = LVTTL;
NET "vlff" SLEW = FAST;
NET "vlff" DRIVE = 8;
NET "vlff" IOSTANDARD = LVTTL;
