### 155.52MHz TCS_Clock #######################
#NET "vxs_a_p[7]" TNM_NET = "TCS_CLK155";
#NET "vxs_a_p[7]" CLOCK_DEDICATED_ROUTE = FALSE;

NET "tcs_clk_p" TNM_NET = "TCS_CLK155";
#TIMESPEC TS_TCS_CLK155 = PERIOD "TCS_CLK155" 155.52 MHz HIGH 50 % INPUT_JITTER 500ps;      ## COMPASS TTC
TIMESPEC TS_TCS_CLK155 = PERIOD "TCS_CLK155" 160.3158 MHz HIGH 50 %  INPUT_JITTER 500ps;    ## NA62 TTC

NET "tcs_data_p" OFFSET = IN 2 ns VALID 4 ns BEFORE "tcs_clk_p";
# for VXS gimli
NET "vxs_a_p[6]" OFFSET = IN 2 ns VALID 4 ns BEFORE "vxs_a_p[7]";

NET "tcs_if/inst_tcs_decode/sCE38MHz" TNM_NET =  FFS "TCS_CE_GRP";
NET "clk_si_vdspp" TNM_NET =  FFS "SI_G_CLK_GRP";

NET "amc_port_p[*][14]" TNM_NET =  FFS "AMC_DRY_GRP";
TIMESPEC TS_TCS_CE = FROM "TCS_CE_GRP" TO "TCS_CE_GRP" TS_TCS_CLK155 / 4;
TIMESPEC TS_TCS_CE_SI_G = FROM "TCS_CE_GRP" TO "SI_G_CLK_GRP" TS_TCS_CLK155 * 1.5;
TIMESPEC TS_TCS_CE_AMC_DRY = FROM "TCS_CE_GRP" TO "AMC_DRY_GRP" TS_TCS_CLK155 * 1.5 ;

NET "clk_si_vdspp" TNM_NET = "SI_G_CLK";
TIMESPEC TS_SI_G_CLK = PERIOD "SI_G_CLK" TS_TCS_CLK155 * 3 INPUT_JITTER 100ps;

# FROM ARWEN
NET "mezz_b_dr_p" TNM_NET = "SI_B_CLK";
TIMESPEC TS_SI_B_CLK = PERIOD "SI_B_CLK" TS_TCS_CLK155 * 1.5 INPUT_JITTER 500ps;

